/* Основные стили для страницы */
body {
    background-color: #000;
    font-family: 'Uni Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/* Основные стили для страницы */
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Перемещаем элементы вверх */
    height: 100vh;
    padding-top: 5vh; /* Отступ сверху для кнопки */
}

.freedurov-button {
    background: linear-gradient(90deg, #ffffff, #1E90FF);
    color: white;
    font-family: 'Unispace', sans-serif;
    font-size: 2.0vw; /* Адаптивный шрифт */
    border: none;
    padding: 2vh 5vw; /* Адаптивные отступы */
    cursor: pointer;
    border-radius: 35px;
    width: 50vw; /* Ширина кнопки 50% экрана */
    text-align: center;
    white-space: nowrap;
    position: relative;
    transition: transform 0.2s ease, background 0.5s ease, opacity 0.2s ease;
}

.freedurov-button:hover {
    transform: scale(1.05); /* Лёгкое увеличение кнопки при наведении */
    background: linear-gradient(90deg, #ffffff, #1E90FF, #1C86EE); /* Перелив градиента при наведении */
    opacity: 0.95; /* Лёгкое затемнение для контраста */
}

.freedurov-button::after {
    content: ' >'; /* Стрелка */
    display: inline-block;
    margin-left: 8px; /* Отступ между текстом и стрелкой */
    transition: transform 0.2s ease; /* Анимация стрелки */
}

.freedurov-button:hover::after {
    transform: translateX(5px); /* Движение стрелки вправо при наведении */
}

.token-section {
    text-align: center;
    margin-top: 15vh; /* Смещаем иконку выше */
}

.token-icon {
    width: 250px; /* Увеличиваем иконку */
    height: 250px;
}

.token-balance {
    font-family: 'Maiandra GD', sans-serif;
    font-size: 32px;
    color: white;
    margin-top: 10px;
}

/* Стили для нижнего меню */
.bottom-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 10px 0;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    text-decoration: none;
    font-family: 'Uni Sans', sans-serif;
}

.menu-item img {
    width: 24px;
    height: 24px;
}

.menu-item.active {
    color: white;
}

.menu-item.active img {
    filter: brightness(2);
}

.menu-item span {
    font-size: 12px;
    margin-top: 5px;
}

/* Стили для Task страницы */
.task-header {
    text-align: center;
    margin-top: 20px;
}

/* Размер иконки Task, можно изменить по желанию */
.task-icon {
    width: 100px; /* Контроль размера иконки */
    height: 100px;
    margin-bottom: 10px;
}

/* Жирный заголовок Tasks */
.task-title {
    font-family: 'Uni Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-top: 10px;
}

/* Описание под заголовком */
.task-subtitle {
    font-family: 'Maiandra GD', sans-serif;
    font-size: 14px;
    color: grey;
    margin-top: -10px;
}

/* Сообщение о разработке */
.task-development-message {
    font-family: 'Maiandra GD', sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

/* Стили для блока задачи */
.task-block {
    background-color: rgba(24, 24, 24, 0.9); /* Полупрозрачный фон */
    border-radius: 15px; /* Скругление углов */
    padding: 20px; /* Увеличенные отступы внутри блока */
    margin: 15px 0; /* Увеличенные отступы между блоками */
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
    width: 90%; /* Процент от ширины родителя */
    max-width: 400px; /* Максимальная ширина */
    height: 120px; /* Увеличенная высота блока */
    margin: 0 auto; /* Центрирование блока */
    position: relative; /* Для позиционирования кнопки */
}

.task-icon {
    width: 80px; /* Увеличенная ширина иконки */
    height: 80px; /* Увеличенная высота иконки */
    margin-right: 20px; /* Увеличенный отступ справа от иконки */
}

.task-details {
    flex-grow: 1; /* Позволяет блокам занимать доступное пространство */
}

.task-title {
    font-family: 'Uni Sans', sans-serif;
    font-weight: bold;
    font-size: 20px; /* Увеличенный размер шрифта заголовка */
    color: white;
    margin-bottom: 5px;
}

.task-reward {
    font-family: 'Arial', sans-serif;
    font-size: 16px; /* Увеличенный размер шрифта вознаграждения */
    color: #b3b3b3;
}

.task-button {
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px; /* Увеличенный размер шрифта кнопки */
    transition: background-color 0.3s ease;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.task-button:hover {
    background-color: #1C86EE;
}

/* Стили для Leadres */
.leaderboard-header {
    text-align: center;
    margin: 20px 0;
}

.leaderboard-icon {
    width: 70px;
    height: 70px;
}

@font-face {
    font-family: 'hooge05_55cyr2';
    src: url('/fonts/hooge05_55cyr2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.leaderboard-title {
    font-family: 'hooge05_55cyr2', sans-serif;
    font-size: 30px;
    margin-top: 10px;
}

.under-development {
    color: #b3b3b3;
    font-size: 16px;
}
.boost-score-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-family: Arial, Bold;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.boost-score-btn:hover {
    background-color: #ccc;
}

/* Стили для страницы загрузки */
.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
}

.loading-icon {
    width: 150px; /* Размер иконки */
    height: 150px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Стили для страницы ошибки */
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.error-container img {
    width: 400px; /* Размер иконки */
    height: auto;
}

.error-container p {
    font-size: 2.0rem;
    margin-top: 5px;
    color: white;
}

/* Анимация для появления элементов */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Стиль для страницы блокировки /banned */
* {
    box-sizing: border-box;
}

body.banned {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.message {
    max-width: 600px;
    margin: 20px;
    animation: fadeIn 2s ease-in;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1.5em;
    margin-top: 20px;
}
