        /* Основной контент */
        .main-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80vh;
            text-align: center;
        }

        .main-content img {
            width: 100px;
            height: 100px;
        }

        .token-balance {
            margin-top: 20px;
            font-size: 24px;
        }

        /* Нижнее меню */
        .bottom-menu {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #111; /* Темно-серый фон для меню */
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
        }

        .menu-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: grey;
            font-size: 12px;
        }

        .menu-item.active {
            color: white; /* Белый цвет для активного элемента */
        }

        .menu-item img {
            width: 24px;
            height: 24px;
        }

        .menu-item span {
            margin-top: 5px;
        }
    </style>
</head>
<body>